<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="API Test Automation Suite" verbose="1" >

<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG"/>
		
	</listeners>
  <test name="API Test Suite" >
  <!-- <parameter name = "urlred" value = "https://register.rediff.com/register/register.php?FormName=user_details"/> -->
    <classes>

      <class name="com.test.TC01_GET_Request"/>
      <class name="com.test.Tests_GET"/>
      <class name="com.test.Tests_POST"/>


    </classes>
 </test>
</suite>